@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
    --White: hsl(0, 0%, 100%);
    --LightGray: hsl(212, 45%, 89%);
    --GrayishBlue: hsl(220, 15%, 55%);
    --DarkBlue: hsl(218, 44%, 22%);
}


*{  
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: var(--LightGray);
    height: 100vh;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}




.container{
    margin-top: 9%;
    font-family: 'Outfit', sans-serif;
    border-radius: 5%;
    width: 320px;
    height: 500px;
    background-color: var(--White);
}

.img{
    background-image: url(../images/image-qr-code.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 290px;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border-radius: 5%;
}

.description{
    padding: 10px;
    text-align: center;
}
h2{
    font-weight: 700;
}
p{
    padding: 20px;
    font-size: 15px;
    color: var(--GrayishBlue);
    font-weight: 400
}
footer{
    margin-top: 2%;
}

    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }